*{
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
}
.navbar ul li{
    font-size: 20px;
    padding: 5px;
}
.search-btn{
    background-color: #F06C4E;
    color: #fff;
    font-size: 25px;
}
.search-field i{
    font-size: 25px;
    position: relative;
    top: 22px;
    left: 165px;
}
.search-field input{
    border: none;
    font-size: 25px;
    text-align: center;
    outline: none;
}
#popupId .card{
    border: none;
}
#popupId img{
    border-radius: 10px 10px 0px 0px;
}
#popupId .card a{
    text-decoration: none;
    color: #4b4646;
    font-size: 25px;
}
#collectionOfMeal .card{
    border: none;
}
#collectionOfMeal img{
    border-radius: 10px 10px 0px 0px;
}
/* popup */
.popUpCls .overLay {
    position:fixed;
    top:0px;
    left:0px;
    width:100%;
    height:100%;
    background:rgba(0,0,0,0.7);
    z-index:1;
    display:none;
}
.popUpCls .popUp-Content-class li i{
    color: #F06C4E;
}
.popUpCls .popUp-Content-class li{
    list-style: none;
}
.popUpCls .popUp-Content-class {
    position:absolute;
    top:50%;
    left:50%;
    transform:translate(-50%,-50%) scale(0);
    background:#fff;
    width:500px;
    z-index:2;
    padding:20px;
    box-sizing:border-box;
    border-radius: 10px;
    color: rgb(92, 91, 91);
}
.popUpCls .close-btn {
    cursor:pointer;
    position:absolute;
    right:20px;
    top:20px;
    margin-left: 90%;
    outline: none;
    font-size:35px;
    font-weight:600;
    line-height:30px;
    text-align:center;
    border: none;
    background-color: rgba(255, 255, 255, 0);
    color: #F06C4E;
    z-index: 5;
} 
.popUpCls.active .overLay {
    display:block;
}
.popUpCls.active .popUp-Content-class {
    transition:all 300ms ease-in-out;
    transform:translate(-50%,-50%) scale(1);
}
